asgiref
certifi
charset-normalizer
contourpy
cycler
Django
django-crispy-forms
djangorestframework
fonttools
idna
importlib_resources
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
six
sqlparse
typing_extensions
tzdata
urllib3
zipp
